<table>
   <thead>
    <tr>
     <th>ルーム画像</th>
     <th>ルーム名</th>
     <th>合計料金</th>
     <th>開始日</th>
     <th>終了日</th>
     <th>予約確定日</th>
    </tr>
   </thead> 
  <tbody>
<% @reservations.each do |reservation| %>
   <tr>
    <% if reservation.room.room_image.attached? %>
    <td><%= image_tag reservation.room.room_image.variant(resize: "200")%></td>
    <% end %>
    <td><%= reservation.room.name%></td>
    <td><%= (reservation.room.price)*(reservation.how_many)%></td>
    <td><%= reservation.start_date.to_s(:datetime)%></td>
    <td><%= reservation.end_date.to_s(:datetime)%></td>
    <td><%= reservation.created_at.to_s(:datetime)%></td>
   </tr>
  </tbody>  
<% end %>
</table>  
