<div class="index-view">
 <div class="index-title">
  <h4>登録済みルーム一覧</h4>
</div>
  <table>
    <thead class="index-column">
      <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
      </tr>
    </thead> 
    <tbody>
  <% @rooms.each do |room| %>
    <tr>
     <td>
     <% if room.room_image.attached? %>
      <%= image_tag room.room_image.variant(resize: "200"), class: "room-image"%>    
     <% else %>
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/room01.jpg">
     <% end %>
     </td>
     <td>
      <%= link_to room_path(room) do %>
        <%= room.name%>
      <% end %>
     </td>
     <td><%= room.introduction%></td>
     <td>¥<%= room.price%></td>
     <td><%= room.created_at%></td>
    </tr>

    </tbody>  

  <% end %>
  </table>  
</div>  
