<!DOCTYPE html>
<html>
  <head>
    <title>MinpakuApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav >
       <% if user_signed_in? %>
        <div class="header-inner">
         <div class="header-left-menu">
          <%= link_to "MINPAKU", "/" ,class:"link" %>
         </div>
         <div class="header-right-menu">
          <div class="user-name"><%= current_user.name%></div>
          <div class="list-menu"></div> 
         </div>
        </div>  
        <div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "アカウント情報", edit_user_path(current_user) %>
          <%= link_to "ルーム登録", new_room_path %>
          <%= link_to "登録済みルーム", rooms_path %>
          <%= link_to "予約済みルーム", reservations_path %>
        </div>
        <% else %>
          <%= link_to "ログイン",  new_user_session_path %>
          <%= link_to "新規登録",  new_user_registration_path %>
        <% end %>
      </nav>
    </header>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
